{% extends "MuzichUserBundle::layout.html.twig" %}

{% block title %}{{ 'title.myaccount'|trans({}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_padding{% endblock %}

{% block content %}

<div id="myaccount">
  
    <h1>{{ 'my_account.title'|trans({}, 'userui') }}</h1>

    <ul>
      <li>
        <b>{{ 'my_account.username'|trans({}, 'userui') }}</b>: {{ user.name }}
      </li>
      <li>
        <b>{{ 'my_account.email'|trans({}, 'userui') }}</b>: {{ user.email }}
      </li>
    </ul>

    <form id="address_update" action="{{ path('update_address', {"token":app.user.getPersonalHash}) }}" method="post">
      <p>
        {{ 'my_account.address.form.ilivenear'|trans({}, 'userui') }}
        <input type="text" name="town" class="intext" value="{{ app.user.town }}" />
        {{ 'my_account.address.form.in'|trans({}, 'userui') }}
        <input type="text" name="country" class="intext" value="{{ app.user.country }}" />
        <input type="submit" value="{{ 'my_account.address.form.submit'|trans({}, 'userui') }}" class="button address_submit" />
        <img class="loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading"/>
      </p>
    </form>
    
    <p class="help">
      {{ 'my_account.help_clicks'|trans({}, 'userui') }}
    </p>

    <h2 data-open="myaccount_favorites_tags">{{ 'my_account.favorite_tags'|trans({}, 'userui') }}</h2>
    
    <div id="myaccount_favorites_tags" class="myaccount_part"
      {% if not form_tags_favorites|form_has_errors %}
       style="display: none;"
      {% endif %}
    >
      {% include "MuzichCoreBundle:Tag:tagFavoritesForm.html.twig" with { 
        'form'             : form_tags_favorites,
        'redirect'         : 'account',
        'form_name'        : form_tags_favorites_name,
        'favorite_tags_id' : favorite_tags_id
      } %}
    </div>

    <h2 data-open="myaccount_favorites_password">{{ 'my_account.change_password'|trans({}, 'userui') }}</h2>

    <div id="myaccount_favorites_password" class="myaccount_part" 
      {% if not form_password|form_has_errors %}
       style="display: none;"
      {% endif %}
     >
      <form class="nicelabels changepassword" action="{{ path('change_password') }}" method="post" {{ form_enctype(form_password) }}>

        {% include "MuzichUserBundle:Security:change_password_form.html.twig" with { 
          'form': form_password
        } %}

        <input type="submit" class="button" value="{{ 'my_account.change_password_submit'|trans({}, 'userui') }}" />
      </form>
    </div>

    <h2 data-open="myaccount_favorites_email">{{ 'my_account.change_email'|trans({}, 'userui') }}</h2>

    <div id="myaccount_favorites_email" class="myaccount_part"
      {% if not change_email_form|form_has_errors %}
       style="display: none;"
      {% endif %}
    >
      <form class="nicelabels changeemail" action="{{ path('change_email_request') }}" method="post" {{ form_enctype(change_email_form) }}>

        {% include "MuzichUserBundle:User:change_email_form.html.twig" with { 
          'form': change_email_form
        } %}

        <input type="submit" class="button" value="{{ 'my_account.change_email_submit'|trans({}, 'userui') }}" />
      </form>
    </div>
    <div style="clear:both;"></div>
  
  </div>
{% endblock %}