{% extends "MuzichUserBundle::layout.html.twig" %}

{% block title %}{{ 'start.title'|trans([], 'userui') }}{% endblock %}

{% block content %}

  <h2>{{ 'start.titleh2'|trans([], 'userui') }}</h2>
  
  <p>
    {{ 'start.description'|trans([], 'userui') }}</h2>
  </p>
  
  <h3>{{ 'start.tags.title'|trans([], 'userui') }}</h3>
  
  {% include "MuzichCoreBundle:Tag:tagFavoritesForm.html.twig" with { 
    'form'             : form_tags_favorites,
    'redirect'         : 'home',
    'form_name'        : form_tags_favorites_name,
    'favorite_tags_id' : favorite_tags_id
  } %}
  
  <p>
    {{ 'start.tags.remind'|trans([], 'userui') }}
  </p>
      
{% endblock %}