
<div id="email_not_confirmed_box">
  
  <h2>{{ 'my_account.email_not_confirmed.title'|trans({}, 'userui') }}</h2>

  <p>{{ 'my_account.email_not_confirmed.text'|trans({}, 'userui') }}</p>
  
  <div class="center">
    <input type="button" class="button" value="{{ 'my_account.email_not_confirmed.button'|trans({}, 'userui') }}" /><img class="loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading" />
  </div>
  
  <p class="info">{{ 'my_account.email_not_confirmed.help'|trans({}, 'userui') }}</p>
  
</div>