
<a href="#" id="registration_link" class="button gradient button_arrow" style="display: none;">
  <img src="{{ asset('/img/icon_dart_right_white.png') }}" alt="" />
  <span>{{ 'registration.display'|trans({}, 'navigationui') }}</span>
</a>
<a href="#" id="login_link" class="button gradient button_arrow" style="display: none;">
  <img src="{{ asset('/img/icon_dart_left_white.png') }}" alt="" />
  <span>{{ 'login.display'|trans({}, 'navigationui') }}</span>
</a>

<div id="login_box" style="display: none;">
  
  {% include "MuzichUserBundle:Security:login.html.twig" %}
  
</div>

<div id="registration_box" style="display: none;">
  
  <h1>{{ 'register.title'|trans({}, 'userui') }}</h1>
  
  {% include "MuzichUserBundle:Registration:register.html.twig" %}
  
</div>
