<div class="register">
  <form action="{{ path('register') }}" {{ form_enctype(form) }} 
    method="POST" 
    class="fos_user_registration_register"
  >
        
    
    {% if form.get("errors")|length > 0 %}
    <ul class="error_list">
      {% for key, error in form.get("errors") %}
        <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {{ form_row(form.username) }}
    
    {{ form_row(form.email) }}
    
    {{ form_row(form.plainPassword.first) }}
    
    {{ form_row(form.plainPassword.second) }}

    {{ form_rest(form) }}
    
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
  </form>
</div>