{% if add_class is not defined %}
  {% set add_class = ''%}
{% endif %}
{% if close_class is not defined %}
  {% set close_class = ''%}
{% endif %}

<a href="#" id="element_add_link" class="button gradient button_arrow {{ add_class }}">
  <img src="{{ asset('/img/icon_dart_right_white.png') }}" alt="" />
  <span>{{ 'home.add_element'|trans({}, 'navigationui') }}</span>
</a>

<a href="#" id="element_add_close_link" class="button gradient button_arrow {{ close_class }}" style="display: none;">
  <img src="{{ asset('/img/icon_dart_left_white.png') }}" alt="" />
  <span>{{ 'home.add_element_box.close'|trans({}, 'navigationui') }}</span>
</a>