<ul class="footer_pages_links footer_pages_links_sys">
  <li>
    <a target="_blank" href="http://blog.muzi.ch/?page_id=5" >
      {{ 'bottom_menu.about'|trans({}, 'navigationui') }}
    </a>
  </li>
  <li>
    <a target="_blank" href="http://blog.muzi.ch/?page_id=7" >
      {{ 'bottom_menu.development'|trans({}, 'navigationui') }}
    </a>
  </li>
  <li>
    <a target="_blank" href="http://blog.muzi.ch/?page_id=9" >
      {{ 'bottom_menu.sites'|trans({}, 'navigationui') }}
    </a>
  </li>
</ul>
<ul class="footer_pages_links footer_pages_links_how">
  <li>
    <a href="http://blog.muzi.ch" >
      Blog
    </a>
  </li>
  <li>
    <a href="{{ path('info_cgu') }}" >
      {{ 'bottom_menu.cgu'|trans({}, 'navigationui') }}
    </a>
  </li>
  <!--<li>
    <a href="" >
      FAQ
    </a>
  </li>-->
</ul>
{#% if app.user %}
  <ul class="footer_pages_links footer_pages_links_user">
    <li>
      <a href="" >
        Profil
      </a>
    </li>
    <li>
      <a href="" >
        Paramètres
      </a>
    </li>
  </ul>
{% endif %#}