{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ viewed_user.name }}{% endblock %}

{% block content %}

  <span class="follow_link following">
    
    <a href="{{ path('favorite_user_list', {'slug' : viewed_user.slug}) }}" >
      {{ 'user.view_favorites'|trans({}, 'users') }}
    </a>
    | 
    <a href="{{ path('follow', { 'type': 'user', 'id': viewed_user.id, 'token': user.personalHash }) }}" 
       class="follow_link {% if following %}following{% else %}notfollowing{% endif %}" >
      {% if following %}
        {{ 'user.notfollow'|trans({}, 'users') }}
      {% else %}
        {{ 'user.follow'|trans({}, 'users') }}
      {% endif %}
    </a>
    
  </span>

  <h2>{{ viewed_user.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  {% if more_count is defined %} 
  {% if elements|length %}
   <span class="elements_more">
     <a href="{{ path('search_elements_show_more_empty', {
       'type'     : 'user', 
       'object_id': viewed_user.id
     }) }}" class="elements_more" >
       {{ 'more'|trans({}, 'userui') }}
     </a>
   </span>
   <img class="elements_more_loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading" />
  {% endif %}
  {% endif %}
  
{% endblock %}