{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ group.name }}{% endblock %}
{% block mainbox_classes %}mainbox_nopadding{% endblock %}

{% block content %}

  <div class="top_tools">
    
    {% if his_group or group.open %}
      {% include 'MuzichCoreBundle:Component:element_add_buttons_topright.html.twig' %}
    {% endif %}

    <div class="show_options">
      
      {% if his_group %}
        <a class="button darkbutton" href="{{ path('group_edit', { 'slug': group.slug }) }}" >
          {{ 'group.edit'|trans({}, 'groups') }}
        </a>
      {% endif %}
      
      <a href="{{ path('follow', { 'type': 'group', 'id': group.id, 'token': user.personalHash(group.id) }) }}" 
         class="follow_link button darkbutton {% if following %}following{% else %}notfollowing{% endif %}">
        {% if following %}
          {{ 'group.following'|trans({}, 'groups') }}
        {% else %}
          {{ 'group.follow'|trans({}, 'groups') }}
        {% endif %}
      </a>
      
    </div>
      
    <h1>{{ group.name }}</h1>
    
    {% if his_group or group.open %}
      {% include 'MuzichCoreBundle:Component:element_add_box.html.twig' with {
        'group_slug'        : group.slug,
        'show_add_to_group' : false
      } %}
    {% endif %}
    
    <p class="show_info">
      {% if count_owned != 0 %}
      {{ 'show.user.elements.count'|trans({
        '%count_owned%' : count_owned,
        '%count_favorited%': count_favorited,
        '%count_favorited_users%': count_favorited_users
      }, 'elements') }}
      {% else %}
        {{ 'show.user.elements.no_count'|trans({}, 'elements') }}
      {% endif %}
      <br />
      {% if count_followers > 1 %}
        {{ 'show.user.followers.x_count'|trans({'%count%':count_followers, '%name%':group.name }, 'elements') }}
      {% elseif count_followers == 0 %}
        {{ 'show.user.followers.zero_count'|trans({'%name%':group.name }, 'elements') }}
      {% else %}
        {{ 'show.user.followers.one_count'|trans({'%count%':count_followers, '%name%':group.name }, 'elements') }}
      {% endif %}
    </p>
    
    <p class="group_description">
      {{ group.description }}
    </p>
  
    {% include "MuzichCoreBundle:Tag:tagsList.show.html.twig" with {
      'object_id'            : group.id,
      'object_type'          : 'group',
      'display_autoplay'     : true,
      'autoplay_context'     : 'show_group'
    } %}
    
  </div>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" with {
    'no_group_name' : true,
    'his_group'     : his_group,
    'group'         : group
  }%}
  
  {% if more_count is defined %} 
    {% if elements|length %}
      {% include "MuzichCoreBundle:SearchElement:more_button.html.twig" with {
        'more_path'     : path('show_elements_get', {
          'type'          : 'group',
          'object_id'     : group.id, 
          'tags_ids_json' : '[]'
        }),
        'more_url_path' : path('show_elements_get', {
          'type'          : 'group',
          'object_id'     : group.id, 
          'tags_ids_json' : ''
        })
      }%}
    {% endif %}
  {% endif %}
  
{% endblock %}