{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

  <span class="follow_link following">
  
    {% if his_group %}
      <a href="{{ path('group_edit', { 'slug': group.slug }) }}" >
        {{ 'group.edit'|trans({}, 'groups') }}
      </a> |
    {% endif %}

    <a href="{{ path('follow', { 'type': 'group', 'id': group.id, 'token': user.personalHash }) }}" 
       class="{% if following %}following{% else %}notfollowing{% endif %}">
      {% if following %}
        {{ 'group.notfollow'|trans({}, 'groups') }}
      {% else %}
        {{ 'group.follow'|trans({}, 'groups') }}
      {% endif %}
    </a>
    
  </span>
    
  <h2>{{ group.name }}</h2>
  
  {% if his_group or group.open %}
  
    <div id="element_add_box" style="display: none;">
  
      <a href="#" id="element_add_close_link">
        &lt;&lt; {{ 'group.add_element_box.close'|trans({}, 'navigationui') }}
      </a>
      
      <form name="{{ add_form_name }}" action="{{ path('element_add', {'group_slug' : group.slug}) }}" method="post" {{ form_enctype(add_form) }}>

        {% include "MuzichCoreBundle:Element:form.add.html.twig" with { 'form': add_form, 'form_name': add_form_name } %}

        <input type="submit" />
      </form>
      
    </div>
  
    <a href="#" id="element_add_link">
      {{ 'group.add_element'|trans({}, 'navigationui') }} &gt;&gt;
    </a>
    <br />
  
  {% endif %}
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" with {'no_group_name' : true} %}
    
  <div class="elements_loader_div">
    <img class="elements_more_loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading" />
  </div>
    
  {% if more_count is defined %} 
  {% if elements|length %}
   <span class="elements_more">
     <a href="{{ path('search_elements_show_more_empty', {
       'type'     : 'group', 
       'object_id': group.id
     }) }}" class="elements_more" >
       {{ 'more'|trans({}, 'userui') }}
     </a>
   </span>
  {% endif %}
  {% endif %}
  
{% endblock %}