{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <span class="follow_link following">
  
    {% if his_group %}
      <a href="{{ path('group_edit', { 'slug': group.slug }) }}" >
        {{ 'group.edit'|trans({}, 'groups') }}
      </a> |
    {% endif %}

    <a href="{{ path('follow', { 'type': 'group', 'id': group.id, 'token': user.personalHash }) }}" >
      {% if following %}
        {{ 'group.notfollow'|trans({}, 'groups') }}
      {% else %}
        {{ 'group.follow'|trans({}, 'groups') }}
      {% endif %}
    </a>
    
  </span>
    
  <h2>{{ group.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}