{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ viewed_user.name }}{% endblock %}

{% block content %}

  <span class="follow_link following">
    
    <a href="{{ path('favorite_user_list', {'slug' : viewed_user.slug}) }}" >
      {{ 'user.view_favorites'|trans({}, 'users') }}
    </a>
    | 
    <a href="{{ path('follow', { 'type': 'user', 'id': viewed_user.id, 'token': user.personalHash }) }}" 
       class="follow_link {% if following %}following{% else %}notfollowing{% endif %}" >
      {% if following %}
        {{ 'user.notfollow'|trans({}, 'users') }}
      {% else %}
        {{ 'user.follow'|trans({}, 'users') }}
      {% endif %}
    </a>
    
  </span>

  <h2>{{ viewed_user.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  {% if more_count is defined %} 
   <span class="elements_more">
     <a href="{{ path('show_user_more', {'count': more_count, 'slug': viewed_user.slug}) }}" >
       {{ 'more'|trans({}, 'userui') }}
     </a>
   </span>
  {% endif %}
  
{% endblock %}