{% extends "MuzichIndexBundle::layout.html.twig" %}

{% block title %}{{ 'title.hello'|trans({}, 'navigationui') }}{% endblock %}
{% block mainbox_classes %}mainbox_margintop mainbox_padding{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block content %}
    
    <a id="know_more" class="helpbox button" href="{{ path('helpbox_bootstrap', {'ressource_id':'know_more'}) }}" title="{{ 'help.know_more'|trans({}, 'navigationui') }}">
      {{ 'help.know_more'|trans({}, 'navigationui') }}
    </a>

    <a href="#" id="registration_link" class="button gradient">
      {{ 'registration.display'|trans({}, 'navigationui') }}
      <img src="{{ asset('/img/icon_dart_right_white.png') }}" alt="" />
    </a>
    <a href="#" id="login_link" class="button gradient" style="display: none;">
      {{ 'login.display'|trans({}, 'navigationui') }}
      <img src="{{ asset('/img/icon_dart_left_white.png') }}" alt="" />
    </a>
    
    <div id="login_box" style="{% if registration_page is defined %}display: none;{% endif %}">
      {% include "MuzichUserBundle:Security:login.html.twig" %}
    </div>
    
    <div id="registration_box" style="{% if registration_page is not defined %}display: none;{% endif %}">
      <h1>{{ 'register.title'|trans({}, 'userui') }}</h1>
      
      {% include "MuzichUserBundle:Registration:register.html.twig" %}
    </div>
  
{% if app.request.get('campain') %}
  <script>
    $(document).ready(function(){  
      $('#registration_link').trigger('click');
      $('#fos_user_registration_form_token').val('29izvSk');
    });
  </script>
{% endif %}

{% endblock %}

