
<ul id="top-tabs">
  <li {% if active == 'public' %} class="active" {% endif %}>
    <a href="{{ path('home') }}">
      {{ 'container_menu.the_network'|trans({}, 'navigationui') }}
    </a>
  </li>
  <li {% if active == 'private' %} class="active" {% endif %}>
    <a href="{{ path('mynetwork_index') }}">
      {{ 'container_menu.my_network'|trans({}, 'navigationui') }}
    </a>
  </li>
</ul>

{% if mygroups %}

  <ul class="top-tabs-right {% if active == 'mygroups' %}active{% endif %}" id="top-tabs-my-groups" {% if active == 'mygroups' %} class="active" {% endif %}>
    <li>
      <a href="{{ path('groups_own_list') }}" >
        {{ 'network.mygroups'|trans({}, 'navigationui') }}
      </a>
    </li>
  </ul>

{% endif %}

{% if myfavorites %}

  <ul class="top-tabs-right {% if active == 'myfavorites' %}active{% endif %}" id="top-tabs-my-favorites" {% if active == 'myfavorites' %} class="active" {% endif %}>
    <li>
      <a href="{{ path('favorites_my_list') }}" >
        {{ 'container_menu.my_favorites'|trans({}, 'navigationui') }}
      </a>
    </li>
  </ul>

{% endif %}