<ul id="header_menu">
    
  {% if network_public is not defined %}
    {% set network_public = '' %}
  {% endif %}
  
  {% if app.user %}
    <li class="{% if network_public == '1' and not ids_display %}selected{% endif %}">
      <a id="link_all_network" href="{{ path('home') }}" class="all_network">
        {{ 'filter.network_all'|trans({}, 'userui') }}
      </a>
    </li>
  {% else %}
    <li class="{% if network_public == '1' and not ids_display %}selected{% endif %}">
      <a href="{{ path('home') }}" >
        {{ 'filter.network_all'|trans({}, 'userui') }}
      </a>
    </li>
  {% endif %}
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if network_public == '0' and not ids_display %}selected{% endif %}">
      <a id="link_my_network" href="{{ path('mynetwork_home') }}" class="my_network" >
        {{ 'filter.network_my'|trans({}, 'userui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a id="link_my_network" href="#" class="mustbeconnected" >
        {{ 'filter.network_my'|trans({}, 'userui') }}
      </a>
    </li>
  {% endif %}
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if app.request.get('topmenu') == 'showuser' and app.request.get('slug') == app.user.slug %}selected{% endif %}">
      <a href="{{ path('show_user', {'slug': app.user.slug}) }}">
        {{ 'container_menu.my_feeds'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a href="#" class="mustbeconnected">
        {{ 'container_menu.my_feeds'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
  <li class="separator"></li>
  {% if app.user %}
    {% if his_group is not defined %}{% set his_group = false %}{% endif %}
    <li class="{% if app.request.get('topmenu') == 'mygroups' or his_group == true %}selected{% endif %}">
      <a href="{{ path('groups_own_list') }}" >
        {{ 'network.mygroups'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a href="#" class="mustbeconnected">
        {{ 'network.mygroups'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if app.request.get('topmenu') == 'myfavorites' %}selected{% endif %}">
      <a href="{{ path('favorites_my_list') }}" >
        {{ 'container_menu.my_favorites'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a href="#" class="mustbeconnected">
        {{ 'container_menu.my_favorites'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
</ul>