<ul id="header_menu">
    
  {% if network_public is not defined %}
    {% set network_public = '' %}
  {% endif %}
  
  {% if app.user %}
    <li class="{% if network_public == '1' and not ids_display %}selected{% endif %}">
      <a id="link_all_network" href="{{ path('home') }}" class="all_network">
        {{ 'filter.network_generic'|trans({}, 'userui') }}
      </a>
    </li>
  {% else %}
    <li class="{% if network_public == '1' and not ids_display %}selected{% endif %}">
      <a href="{{ path('home') }}" class="all_network">
        {{ 'filter.network_generic'|trans({}, 'userui') }}
      </a>
    </li>
  {% endif %}
  {#
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if network_public == '0' and not ids_display %}selected{% endif %}">
      <a id="link_my_network" href="{{ path('mynetwork_home') }}" class="my_network" >
        {{ 'filter.network_my'|trans({}, 'userui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a id="link_my_network" href="#" class="mustbeconnected my_network" >
        {{ 'filter.network_my'|trans({}, 'userui') }}
      </a>
    </li>
  {% endif %}#}
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if app.request.get('topmenu') == 'playlists' and app.request.get('user_slug') == app.user.slug %}selected{% endif %}">
      <a id="link_playlist" href="{{ path('playlists_user', {'user_slug': app.user.slug}) }}">
        {{ 'container_menu.my_playlists'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a id="link_playlist" href="#" class="mustbeconnected">
        {{ 'container_menu.my_playlists'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
  <li class="separator"></li>
  {% if app.user %}
    <li class="{% if app.request.get('topmenu') == 'myfavorites' %}selected{% endif %}">
      <a href="{{ path('favorites_my_list') }}" >
        {{ 'container_menu.my_favorites'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% else %}
    <li>
      <a href="#" class="mustbeconnected">
        {{ 'container_menu.my_favorites'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
</ul>