{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}Réseau{% endblock %}

{% block content %}

  <div id="element_add_box" style="display: none;">
    
    <a href="#" id="element_add_close_link">
      {{ 'home.add_element_box.close'|trans({}, 'navigationui') }} >>
    </a>
    
    <form action="{{ path('element_add') }}" method="post" {{ form_enctype(add_form) }}>

      {% include "MuzichCoreBundle:Element:form.add.html.twig" with { 
        'form'          : add_form, 
        'form_name'     : add_form_name
      } %}

      <input type="submit" />
    </form>
  </div>

  <a href="#" id="element_add_link">
    {{ 'home.add_element'|trans({}, 'navigationui') }} >>
  </a>

  <form action="{{ path('search_elements') }}" method="post" {{ form_enctype(search_form) }}>

    {% include "MuzichCoreBundle:SearchElement:form.html.twig" with { 
      'form_name'      : search_form_name,
      'search_tags'    : search_tags_id
    } %}

    <span class="help">{{ 'tags_filter.help'|trans({}, 'userui') }}</span>
    <br />
    <input type="submit" value="{{ 'filter.submit'|trans({}, 'userui') }}"/>
  </form>

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  
  {% if more_count is defined %} 
   <span class="elements_more">
     <a href="{{ path('home_more', {'count': more_count}) }}" >
       {{ 'more'|trans({}, 'userui') }}
     </a>
   </span>
  {% endif %}
  
{% endblock %}