{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}

{% block content %}

  <a class="link_navigation" href="{{ path('mynetwork_search') }}" >
    {{ 'search.search'|trans({}, 'network') }}
  </a>
  
  {% if followeds_users %}
    <b>{{ 'users'|trans({}, 'network') }}</b>
    <ul class="inline">
    {% for user in followeds_users %} 
      <li>
        <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  
  {% if followeds_groups %}
    <b>{{ 'groups'|trans({}, 'network') }}</b>
    <ul class="inline">
    {% for group in followeds_groups %} 
      <li>
        <a href="{{ path('show_group', { 'slug': group.slug }) }}">{{ group.name }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  
  {% if followers_users %}
    <b>{{ 'followed_by'|trans({}, 'network') }}</b>
    <ul class="inline">
    {% for user in followers_users %} 
      <li>
        <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}