{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}

{% block content %}

  <a class="link_navigation" href="{{ path('mynetwork_search') }}" >
    Rechercher
  </a>
  
  {% if followeds_users %}
    <b>Utilisateurs</b>
    <ul>
    {% for user in followeds_users %} 
      <li>
        <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  
  {% if followeds_groups %}
    <b>Groupes</b>
    <ul>
    {% for group in followeds_groups %} 
      <li>
        <a href="{{ path('show_group', { 'slug': group.slug }) }}">{{ group.name }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  
  {% if followers_users %}
    <b>Vous êtes suivis par</b>
    <ul>
    {% for user in followers_users %} 
      <li>
        <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}