{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}

{% block content %}

  <a class="link_navigation" href="{{ path('mynetwork_index') }}" >
    {{ 'search.return'|trans({}, 'network') }}
  </a>
  
  <b>{{ 'search.search_u_n_g'|trans({}, 'network') }}</b>
  
  <form action="{{ path('mynetwork_search') }}" method="post" {{ form_enctype(search_form) }}>
    
    {{ form_errors(search_form) }}

    {{ form_row(search_form.string) }}

    {{ form_rest(search_form) }}

    <input type="submit" value="{{ 'search.form.submit_value'|trans({}, 'network') }}" />
  </form>
  
  {% if results.users|length or results.groups|length %}
  
    {% if results.users %}

      <b>{{ 'search.users'|trans({}, 'network') }}</b>
      
      <ul id="search_users" class="inline">
      {% for user in results.users %} 
        <li>
          <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
        </li>
      {% endfor %}
      </ul>

    {% endif %}
  
    {% if results.groups %}

      <b>{{ 'search.groups'|trans({}, 'network') }}</b>
      
      <ul id="search_groups" class="inline">
      {% for group in results.groups %} 
        <li>
          <a href="{{ path('show_group', { 'slug': group.slug }) }}">{{ group.name }}</a>
        </li>
      {% endfor %}
      </ul>

    {% endif %}
  
  {% elseif search_done %}
      
      <p>{{ 'search.no_result'|trans({}, 'network') }}</p>
      
  {% endif %}

{% endblock %}