{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}

{% block content %}

  <p>
    <a href="{{ path('mynetwork_index') }}" >
      Retour
    </a>
  </p>
  
  <b>Rechercher des utilisateurs et des groupes</b>
  
  <form action="{{ path('mynetwork_search') }}" method="post" {{ form_enctype(search_form) }}>
    
    {{ form_errors(search_form) }}

    {{ form_row(search_form.string) }}

    {{ form_rest(search_form) }}

    <input type="submit" />
  </form>
  
  {% if results.users|length or results.groups|length %}
  
    {% if results.users %}

      <b>Utilisateurs</b>
      
      <ul>
      {% for user in results.users %} 
        <li>
          <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
        </li>
      {% endfor %}
      </ul>

    {% endif %}
  
    {% if results.groups %}

      <b>Groupes</b>
      
      <ul>
      {% for group in results.groups %} 
        <li>
          <a href="{{ path('show_group', { 'slug': group.slug }) }}">{{ group.name }}</a>
        </li>
      {% endfor %}
      </ul>

    {% endif %}
  
  {% elseif search_done %}
      
      <p>Il n'y a aucun résultat a votre recherche</p>
      
  {% endif %}

{% endblock %}