<h1>{{ 'help.element_add_url.title1'|trans({}, 'text') }}</h1>

<p>
  {{ 'help.element_add_url.text1'|trans({}, 'text') }}
  <strong>
    {{ 'help.element_add_url.text1_plugin'|trans({}, 'text') }}
  </strong>
</p>

<h2>{{ 'help.element_add_url.title2'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt1.png') }}" alt="capture1" />
</p>

<h2>{{ 'help.element_add_url.title3'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt2.png') }}" alt="capture2" />
</p>