<h1>{{ 'help.know_more.presentation.title'|trans({}, 'text') }}</h1>

<p>{{ 'help.know_more.presentation.text'|trans({}, 'text') }}</p>

<h2>{{ 'help.know_more.flux.title'|trans({}, 'text') }}</h2>

<p>{{ 'help.know_more.flux.text'|trans({}, 'text') }}</p>

<div class="helpbox_image_container">
  <img src="{{ asset('/img/flux.png') }}" alt="picture_pres" />
</div>

<h2>{{ 'help.know_more.autoplay.title'|trans({}, 'text') }}</h2>

<p>{{ 'help.know_more.autoplay.text'|trans({}, 'text') }}</p>

<div class="helpbox_image_container">
  <img src="{{ asset('/img/autoplay.png') }}" alt="picture_pres" />
</div>

<h2>{{ 'help.know_more.reputation.title'|trans({}, 'text') }}</h2>

<p style="padding-top: 50px;">
  <img src="{{ asset('/img/reputation_score.png') }}" alt="picture_pres"
    style="float: left; border: 3px solid #DDDDDD; margin: 5px; margin-top: -50px;" />
  {{ 'help.know_more.reputation.text'|trans({}, 'text') }}
</p>
