<h1>{{ 'help.tags_prompt.title'|trans({}, 'text') }}</h1>

<p>{{ 'help.tags_prompt.text'|trans({}, 'text') }}</p>

<h2>{{ 'help.tags_prompt.subtitle1'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt3.png') }}" alt="capture" />
</p>

<h2>{{ 'help.tags_prompt.subtitle2'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt4.png') }}" alt="capture" />
</p>

<h2>{{ 'help.tags_prompt.subtitle3'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt5.png') }}" alt="capture" />
</p>

<h2>{{ 'help.tags_prompt.subtitle4'|trans({}, 'text') }}</h2>

<p style="text-align: center;">
  <img src="{{ asset('img/capt6.png') }}" alt="capture" />
</p>