{% extends "MuzichAdminBundle:Moderate:layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <h2>{{ 'moderate.comments.title'|trans({}, 'adminui') }}</h2>
    
  <ul id="moderate_comments">
    {% for comment in comments %}
      <li class="comment" id="mod_comment_{{ comment.element_id }}_{{ comment.comment.d|date_epurate }}">
        
        <a href="{{ path('moderate_comment_clean', {
          'element_id' : comment.element_id,
          'date'       : comment.comment.d
        }) }}" class="accept">
         [V]
        </a>
        <a href="{{ path('moderate_comment_refuse', {
          'element_id' : comment.element_id,
          'date'       : comment.comment.d
        }) }}" class="refuse">
         [X]
        </a>
        
        <strong>{{ comment.comment.u.s }}</strong>: 
        
        {{ comment.comment.c }}
        
      </li>
    {% endfor %}
  </ul>

{% endblock %}