{% extends "MuzichAdminBundle:Moderate:layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <h2>{{ 'moderate.title'|trans({}, 'adminui') }}</h2>
  
  <h3>{{ 'moderate.tags.title'|trans({}, 'adminui') }}</h3>
  
  <ul>
    <li>
      <a href="{{ path('MuzichAdminBundle_moderate_tags') }}">
        {{ 'moderate.tags.to_moderate'|trans({'%count%' : count_tags}, 'adminui') }}
      </a>
    </li>
  </ul>
  
  <h3>{{ 'moderate.elements.title'|trans({}, 'adminui') }}</h3>
  
  <ul>
    <li>
      <a href="{{ path('moderate_elements_index') }}">
        {{ 'moderate.elements.to_moderate'|trans({'%count%' : count_elements}, 'adminui') }}
      </a>
    </li>
  </ul>
  
  <h3>{{ 'moderate.comments.title'|trans({}, 'adminui') }}</h3>
  
  <ul>
    <li>
      <a href="{{ path('moderate_comments_index') }}">
        {{ 'moderate.comments.to_moderate'|trans({'%count%' : count_comments}, 'adminui') }}
      </a>
    </li>
  </ul>
  
{% endblock %}