{% extends "MuzichAdminBundle:Moderate:layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <h2>{{ 'moderate.tags.title'|trans({}, 'adminui') }}</h2>
    
  <ul id="moderate_tags">
    {% for tag in tags %}
      <li class="tag">
        <a href="{{ path('MuzichAdminBundle_moderate_tags_accept_tag', {'tag_id' : tag.id}) }}" class="accept">
         [V]
        </a>
        <a href="{{ path('MuzichAdminBundle_moderate_tags_refuse_tag', {'tag_id' : tag.id}) }}" class="refuse">
         [X]
        </a>
        <a href="{{ path('MuzichAdminBundle_moderate_tags_replace_tag', {
          'tag_id' : tag.id
        }) }}" class="replace">
         [R]
        </a>
        <span class="name">
          {{ tag.name }}
        </span>
          
        <form action="#" name="moderate_tag_{{ tag.id }}">
          {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
            'form_name'     : 'moderate_tag_' ~ tag.id 
          } %}
            
            <input type="hidden" class="tagBox_tags_ids" name="tagBox_tags_ids" />
            
        </form>
          
        <p>
          {{ tag.arguments }}
        </p>
          
      </li>
    {% endfor %}
  </ul>

{% endblock %}