<form name="{{ form_name }}" action="{{ path('update_tag_favorites', { 'redirect' : redirect }) }}" method="post" {{ form_enctype(form) }}>
  
  {{ form_errors(form) }}

  {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
    'form_name'   : form_name,
    'search_tags' : favorite_tags_id
  } %}
  
  {{ form_widget(form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}

  {{ form_row(form._token) }}

  <input type="submit" class="button" value="{{ 'tags.favorites.submit'|trans([], 'userui') }}" />
</form>