

<div class="tags_prompt" id="tags_prompt_{{ form_name }}">
  <span class="help">{{ 'tags.help'|trans({}, 'userui') }}</span>
    
  {% if display_specials_buttons is defined %}
    {% if display_specials_buttons == true %}
      <br />
      <input class="clear" type="button" value="{{ 'filter.clear'|trans({}, 'userui') }}" />
      <input type="hidden" class="filter_clear_url" value="{{ path('filter_clear') }}" />
      <input class="mytags" type="button" value="{{ 'filter.mytags'|trans({}, 'userui') }}" />
      <input type="hidden" class="filter_mytags_url" value="{{ path('filter_mytags') }}" />
    {% endif %}
  {% endif %}
  
   <img id="tag_loader_{{ form_name }}" class="tag_loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading"/>
   <input class="tags_prompt_list" id="tags_prompt_list_{{ form_name }}" name="tags" value=""> 
</div>

<script language="javascript" type="text/javascript">
  
  var taginit = new Array();
  {% if search_tags is defined %}
    {% for tid, tname in search_tags %}
      taginit[{{ loop.index0 }}] = {"id":"{{ tid }}", "name":"{{ tname }}"};
    {% endfor %}
  {% endif %}
  
  tag_text_help = "{{ 'tags.inputtext.help'|trans({}, 'userui') }}";
  var options = new Array();
  options.form_name  = "{{ form_name }}";
  options.tag_init   = taginit;
  
  $("#tags_prompt_list_{{ form_name }}").tagBox(options);
  
  // On détruit la variable taginit
  delete taginit;
  
  // I've hacked the jQuery UI autocomplete render function
  // to highlight part of the matched string
  $.ui.autocomplete.prototype._renderItem = function( ul, item) {
      var sstr = $.trim(this.term);
      var re = new RegExp(sstr, "i") ;
      var t = item.label.replace(re,"<strong>" + sstr + "</strong>");
      return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + t + "</a>" )
          .appendTo( ul );
  };
  
  // The autocomplete for the last tagbox
  $("#tags_prompt_{{ form_name }} ul.tagbox li.input input").autocomplete({
      source: function(req, responseFn) {
        
        // ici il faut faire une ajax q pour obtenir la liste
        // ou a est un tableau de strings
        $('#tag_loader_{{ form_name }}').css('display', 'block');
        $.getJSON('/app_dev.php/fr/search/tag/'+req.term, function(data) {
          responseFn( data );
          $('#tag_loader_{{ form_name }}').css('display', 'none');
        });
      },
      minLength: 2,
      select: function(e, ui) {
          e.preventDefault();
          if(e.keyCode != 13) {
              $(this).val(ui.item.value);
              $(this).trigger("selectTag");
          }
      }
  });  
  
  $('#tags_prompt_{{ form_name }} input[type="text"]').val(tag_text_help);
  $('#tags_prompt_{{ form_name }} input[type="text"]').focus(function(){
    if ($(this).val() == tag_text_help)
    {
      $(this).val('');
      //$(this).addClass('focuson');
      //$(this).removeClass('focusout');
    }
  });
  $('#tags_prompt_{{ form_name }} input[type="text"]').focusout(function(){
    if (!$(this).val())
    {
      $(this).val(tag_text_help);
      //$(this).removeClass('focuson');
      //$(this).addClass('focusout');
    }
  });
    
</script>