{% extends "MuzichAdminBundle::base_admin_assetic_less.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
{% block title %}
  {{ parent() }} - {% trans with {'%object%': User.username,} from "Admin" %}You're editing password of the object "%object%"{% endtrans %}
{% endblock %}

{% block body %}
  {% block page_title %}
      <header>
        <h1>{% trans with {'%object%': User.username,} from "Admin" %}You're editing password of the object "%object%"{% endtrans %}</h1>
      </header>
    {% endblock %}

<div class="row-fluid">
{% block form %}
  <form class="admin_form" 
    action="{{ path("Muzich_AdminBundle_Admin_user_password_update", { 'pk': User.id }) }}"
    method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {% block form_fieldset_Password %}
            
      <fieldset class="form_block form_fieldset_General fieldset_tabbable">
        
        <legend><span>{% trans from "Admin" %}Password{% endtrans %}</span></legend>
        
        <div class="row-fluid">
          <div class="control-group form_field field_text field_plain_password">
              {% block form_username %}
                  {{ form_row(form['plain_password']) }}
              {% endblock %}
          </div>
        </div>
        
      </fieldset>
    {% endblock %}

    {{ form_rest(form) }}

    {% block form_buttons %}        
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          <i class="icon-ok icon-white"></i> {% trans from "Admingenerator" %}actions.save{% endtrans %}
        </button>
        {% block form_actions %}
          <a class="btn " href="{{ path("Muzich_AdminBundle_Admin_user_list") }}">
            <i class="icon-list-alt"></i> {% trans from "Admingenerator" %}actions.list{% endtrans %}
          </a>
        {% endblock %}
      </div>
    {% endblock %}
    
  </form>
  {% endblock %}
</div>

{% endblock %}