{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}

{{ form_errors(form) }}

<div class="field name">
  {{ form_errors(form.name) }}
  {{ form_label(form.name, 'name'|trans({}, 'groupform')) }}
  {{ form_widget(form.name, {'attr':{'class':'niceinput'}}) }}
</div>

<div class="field description">
  {{ form_errors(form.description) }}
  {{ form_label(form.description, 'description'|trans({}, 'groupform')) }}
  {{ form_widget(form.description, {'attr':{'class':'nicetextbox'}}) }}
</div>

  <i>{{ 'openhelp'|trans({}, 'groupform') }}</i>

<div class="field open">
  {{ form_errors(form.open) }}
  {{ form_label(form.open, 'open'|trans({}, 'groupform')) }}
  {{ form_widget(form.open) }}
</div>

{% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
  'form_name'     : form_name
} %}

{{ form_widget(form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}

{{ form_rest(form) }}