<!-- XHTML 1.0 - Transitional -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<title>Muzi.ch - {% block title %}{% endblock %}</title>
	
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
  <link href="apple-touch-icon.png" rel="apple-touch-icon" />
  
	<link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon" />
	<link href="{{ asset('bundles/muzichcore/css/base.css') }}" rel="stylesheet" media="screen" type="text/css" />
	<link href="{{ asset('bundles/muzichcore/css/main.css') }}" rel="stylesheet" media="screen" type="text/css" />
  {% block css %}{% endblock %}
	<script src="{{ asset('js/jquery-1.6.4.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery-ui-1.8.7.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/muzichcore/js/muzich.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/tags/jquery.autoGrowInput.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/tags/jquery.tagBox.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/formdefault/jquery.formdefaults.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery.form-2.14.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jConfirmAction/jconfirmaction.jquery.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    string_follow_stop = "{{ 'user.stop_follow'|trans({}, 'users') }}";
    string_follow_following = "{{ 'user.following'|trans({}, 'users') }}";
    string_follow_follow = "{{ 'user.follow'|trans({}, 'users') }}";
    string_tag_prompt_input_help = "{{ 'tags.inputtext.help'|trans({}, 'userui') }}";
    string_tag_add_title = "{{ 'tags.add.title'|trans({}, 'userui') }}";
    string_tag_add_text = "{{ 'tags.add.text'|trans({}, 'userui') }}";
    string_tag_add_argument = "{{ 'tags.add.argument'|trans({}, 'userui') }}";
    string_tag_add_inputs_cancel = "{{ 'tags.add.inputs.cancel'|trans({}, 'userui') }}";
    string_tag_add_inputs_submit = "{{ 'tags.add.inputs.submit'|trans({}, 'userui') }}";
    string_element_delete_confirm_sentence = "{{ 'element.remove.confirm.sentence'|trans({}, 'elements') }}";
    string_element_delete_confirm_yes = "{{ 'element.remove.confirm.yes'|trans({}, 'elements') }}";
    string_element_delete_confirm_no = "{{ 'element.remove.confirm.no'|trans({}, 'elements') }}";
    string_comment_delete_confirm_sentence = "{{ 'comment.remove.confirm.sentence'|trans({}, 'elements') }}";
    string_comment_delete_confirm_yes = "{{ 'comment.remove.confirm.yes'|trans({}, 'elements') }}";
    string_comment_delete_confirm_no = "{{ 'comment.remove.confirm.no'|trans({}, 'elements') }}";
    string_tag_addtofav_confirm_sentence = "{{ 'element.tag.addtofav.confirm.sentence'|trans({}, 'elements') }}";
    string_tag_addtofav_confirm_yes = "{{ 'element.tag.addtofav.confirm.yes'|trans({}, 'elements') }}";
    string_tag_addtofav_confirm_no = "{{ 'element.tag.addtofav.confirm.no'|trans({}, 'elements') }}";
    string_elementreport_confirm_sentence = "{{ 'element.report.confirm.sentence'|trans({}, 'userui') }}";
    string_elementreport_confirm_yes = "{{ 'element.report.confirm.yes'|trans({}, 'userui') }}";
    string_elementreport_confirm_no = "{{ 'element.report.confirm.no'|trans({}, 'userui') }}";
    string_commentreport_confirm_sentence = "{{ 'comment.report.confirm.sentence'|trans({}, 'userui') }}";
    string_commentreport_confirm_yes = "{{ 'comment.report.confirm.yes'|trans({}, 'userui') }}";
    string_commentreport_confirm_no = "{{ 'comment.report.confirm.no'|trans({}, 'userui') }}";
    string_elementreshare_confirm_sentence = "{{ 'element.reshare.confirm.sentence'|trans({}, 'userui') }}";
    string_elementreshare_confirm_yes = "{{ 'element.reshare.confirm.yes'|trans({}, 'userui') }}";
    string_elementreshare_confirm_no = "{{ 'element.reshare.confirm.no'|trans({}, 'userui') }}";
    {% autoescape false %}
    string_search_tag_title = "{{ 'search_tag.title'|trans({}, 'userui') }}";
    {% endautoescape %}
    
    url_index = "{{ path('index') }}";
    url_search_tag = "{{ path('search_tag') }}";
    url_get_favorites_tags = "{{ path('ajax_get_favorites_tags') }}";
    url_add_tag = "{{ path('ajax_add_tag') }}";
    url_element_new_count = "{{ path('element_new_count') }}";
    url_element_new_get = "{{ path('element_new_get') }}";
    url_global_search = "{{ path('global_search') }}";
    
    url_img_ajax_loader = "{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}";
  </script>
  {% block js %}{% endblock %}
  
</head>
<body>
  
  {% include "MuzichCoreBundle:Language:languages.html.twig" %}
  
  {% include "MuzichUserBundle:Account:topBar.html.twig" %}
  
  <noscript>
    <div id="noscript_warning">
      <p>
        {{ 'noscript.message'|trans({}, 'messages') }}
        <a href="{{ 'noscript.link_search'|trans({}, 'messages') }}" target="_blank">
          {{ 'noscript.link_text'|trans({}, 'messages') }}
        </a>
      </p>
    </div>
  </noscript>
      
  <div id="container">
    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {% render "MuzichUserBundle:Event:infoBar" %}
    {% endif %}
    
    {% block main_content %}{% endblock %}
    {% block fos_user_content %}{% endblock %}
  </div>
    
  {% for key, flash in app.session.getFlashes() %}
    <div class="{{ key }} message">
      <a class="message-close" href="#" title="fermer"><img alt="close" src="{{ asset('bundles/muzichcore/img/1317386146_cancel.png') }}" /></a>
      <h3>{{ flash|trans({}, 'flash') }}</h3>
    </div>
  
    {% if key == 'success' %}
    <script type="text/javascript" >
      $(document).ready(function(){
        window.setTimeout(function(){
          $('div.success').slideUp();
        }, 3000);
      });
    </script>
    {% endif %}
  {% endfor %}
  
  {% include "MuzichCoreBundle:Info:container.html.twig" %}
  
</body>
</html>

