{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}{{ 'title.favoriteof'|trans({'%name%':viewed_user.name}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_nopadding{% endblock %}

{% block content %}

  <div class="top_tools">
    
    <div class="show_options">
      
      <a class="button darkbutton" href="{{ path('show_user', {'slug' : viewed_user.slug}) }}" >
        {{ 'user.view_profile'|trans({}, 'users') }}
      </a>
      
    </div>
  
    <h1>{{ 'favorites.user_favorites'|trans({'%name%' : viewed_user.name}, 'network') }}</h1>
  
    {% include "MuzichCoreBundle:Tag:tagsList.favorite.html.twig" with {
      'user_id' : viewed_user.id
    } %}
    
    <a href="{{ path('elements_get_filter_data_autoplay_favorite', {
          'show_type'  : 'user',
          'show_id'    : viewed_user.id, 
          'data'       : '[]'
        }) }}" class="button" id="autoplay_launch" 
       title="{{ 'elements.autoplay.launch'|trans({}, 'elements') }}" >
      <img src="{{ asset('/bundles/muzichcore/img/1353494305_player_play.png') }}" alt="" />
    </a>
    
  </div>

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  <div class="elements_loader_div">
    <img class="elements_more_loader" style="display: none;" src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading" />
  </div>
  
  {% if elements|length %}
    <input type="hidden" id="more_elements_url" value="{{ path('favorite_get', {'user_id': viewed_user.id, 'tags_ids_json' : ''}) }}" />
    <a href="{{ path('favorite_get', {'user_id': viewed_user.id, 'tags_ids_json' : '[]'}) }}" class="elements_more">
      <div>
       {{ 'more'|trans({}, 'userui') }}
     </div>
    </a>
  {% endif %}
  
  <input type="hidden" id="autoplay_url" value="{{ path('elements_get_filter_data_autoplay_favorite', {
    'show_type'  : 'user',
    'show_id'    : viewed_user.id, 
    'data' : ''
  }) }}" />
    
{% endblock %}