{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}{{ 'title.favoriteof'|trans({'%name%':viewed_user.name}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_nopadding{% endblock %}

{% block content %}

  <div class="top_tools">
    
    <div class="show_options">
      
      <a class="button darkbutton" href="{{ path('show_user', {'slug' : viewed_user.slug}) }}" >
        {{ 'user.view_profile'|trans({}, 'users') }}
      </a>
      
    </div>
  
    <h1>{{ 'favorites.user_favorites'|trans({'%name%' : viewed_user.name}, 'network') }}</h1>
  
    {% include "MuzichCoreBundle:Tag:tagsList.favorite.html.twig" with {
      'user_id' : viewed_user.id
    } %}
    
    {% include 'MuzichCoreBundle:Component:element_autoplay_button.html.twig' with {
      'autoplay_path' : path('elements_get_filter_data_autoplay_favorite', {
        'show_type'  : 'user',
        'show_id'    : viewed_user.id, 
        'data'       : '[]'
      })
    } %}
    
  </div>

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  {% if elements|length %}
    {% include "MuzichCoreBundle:SearchElement:more_button.html.twig" with {
      'more_path'     : path('favorite_get', {
        'user_id': viewed_user.id,
        'tags_ids_json' : ''
      }),
      'more_url_path' : path('favorite_get', {
        'user_id': viewed_user.id,
        'tags_ids_json' : ''
      })
    }%}
  {% endif %}
  
  <input type="hidden" id="autoplay_url" value="{{ path('elements_get_filter_data_autoplay_favorite', {
    'show_type'  : 'user',
    'show_id'    : viewed_user.id, 
    'data' : ''
  }) }}" />
    
{% endblock %}