
{% if elements|length %}
  <ul>
    {% for element in elements %} 
      <li id="element_{{ element.id }}">
        {% if element.group %}
          <b>({{ element.group.name }})</b>
        {% endif %}
        {{ element.name }} ({{ element.owner.username }})
          <a href="{{ element.url }}" target="_blank">link</a>
          
          {% if element.getCountFavorite %}
            | <a href="{{ path('favorite_remove', { 'id': element.id, 'token': user.personalHash }) }}" >
              {{ 'element.favorite.remove'|trans({}, 'elements') }}
            </a>
          {% else %}
            | <a href="{{ path('favorite_add', { 'id': element.id, 'token': user.personalHash }) }}" >
              {{ 'element.favorite.add'|trans({}, 'elements') }}
            </a>
          {% endif %}
          
          <ul>
            {% for tag in element.tags %} 
              <li>
                {{ tag.name }}
              </li>
            {% endfor %} 
          </ul>

          {% if element.embed %}
            {% autoescape false %}
              {{ element.embed }}
            {% endautoescape %}
          {% endif %}

      </li>
    {% endfor %} 
  </ul>

   {% if more_count is defined %} 
     <span class="elements_more">
       <a href="{{ path('home_more', {'count': more_count}) }}" >
         {{ 'more'|trans({}, 'userui') }}
       </a>
     </span>
   {% endif %}

{% else %}

  <p class="no-elements">{{ 'noelements.sentence'|trans({}, 'elements') }}</p>

{% endif %}