<form action="{{ path('search_elements') }}" method="post" {{ form_enctype(search_form) }}>
  
  {{ form_errors(search_form) }}

  <div class="field">
    {{ form_errors(search_form.network) }}
    {{ form_label(search_form.network, 'filter.network'|trans({}, 'userui')) }}
    {{ form_widget(search_form.network) }}
  </div>

  {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 'form_name': form_name } %}
  
  {{ form_row(search_form.tags) }}
  {{ form_row(search_form._token) }}

  <input type="submit" value="{{ 'filter.submit'|trans({}, 'userui') }}"/>
</form>