<form action="{{ path('search_elements') }}" method="post" {{ form_enctype(search_form) }}>
  
  {{ form_errors(search_form) }}

  {{ form_row(search_form.network) }}

  {% if  app.environment != 'test' %}
    {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 'form_name': form_name } %}
  {% else %}
    {{ form_row(search_form.tags) }}
  {% endif %}
  
  {{ form_row(search_form._token) }}

  <input type="submit" />
</form>