{% if display_help_notags is not defined %}
  {% set display_help_notags = false %}
{% endif %}

  {{ form_errors(search_form) }}

  <div class="select_network">
    <div class="field">
      {{ form_errors(search_form.network) }}
      {{ form_widget(search_form.network, { 'attr': {'style': 'display: none;'} }) }}
    </div>
      
  </div>

  <div class="more_filters">
    
    <a href="{{ path('ajax_filter_remove_ids') }}" class="button active new_comments" 
       style="{% if ids_display != event_const('TYPE_COMMENT_ADDED_ELEMENT') %}display: none;{% endif %}"
    >
      {{ 'filter.new_comments'|trans({}, 'userui') }}
      <img src="{{ asset('bundles/muzichcore/img/1328276855_list-remove.png') }}" alt="remove" />
    </a>
      
    <a href="{{ path('ajax_filter_remove_ids') }}" class="button active new_favorites" 
       style="{% if ids_display != event_const('TYPE_FAV_ADDED_ELEMENT') %}display: none;{% endif %}"
    >
      {{ 'filter.new_favoriteds'|trans({}, 'userui') }}
      <img src="{{ asset('bundles/muzichcore/img/1328276855_list-remove.png') }}" alt="remove" />
    </a>
      
    <a href="{{ path('ajax_filter_remove_ids') }}" class="button active new_tags" 
       style="{% if ids_display != event_const('TYPE_TAGS_PROPOSED') %}display: none;{% endif %}"
    >
      {{ 'filter.new_tags'|trans({}, 'userui') }}
      <img src="{{ asset('bundles/muzichcore/img/1328276855_list-remove.png') }}" alt="remove" />
    </a>
    
  </div>
  
  {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
    'form_name'           : form_name,
    'display_tools'       : true,
    'display_help_notags' : display_help_notags
  } %}
  
  <div>
  {{ form_widget(search_form.tag_strict) }}
      <label for="element_search_form_tag_strict">{{ 'filter.tag_strict'|trans({}, 'userui') }}</label>
  </div>

  {{ form_widget(search_form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}
  {{ form_row(search_form._token) }}
