
  {{ form_errors(search_form) }}

  <div class="select_network">
    <div class="field">
      {{ form_errors(search_form.network) }}
      {{ form_widget(search_form.network, { 'attr': {'style': 'display: none;'} }) }}
    </div>
    
    <a href="#" class="button all_network {% if network_public %}active{% endif %}">
      {{ 'filter.network_all'|trans({}, 'userui') }}
    </a>
    <a href="#" class="button my_network {% if not network_public %}active{% endif %}">
      {{ 'filter.network_my'|trans({}, 'userui') }}
    </a>
  </div>
  
  {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
    'form_name'     : form_name
  } %}
  
  {{ form_widget(search_form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}
  {{ form_row(search_form._token) }}
