{{ form_errors(form) }}
    
  <div class="field">
    {{ form_label(form.current, 'password.actual'|trans({}, 'userform')) }}
    {{ form_errors(form.current) }}
    {{ form_widget(form.current) }}
  </div>

  <div class="field">
    {{ form_label(form.new.first, 'password.new.first'|trans({}, 'userform')) }}
    {{ form_errors(form.new.first) }}
    {{ form_widget(form.new.first) }}
  </div>

  <div class="field">
    {{ form_label(form.new.second, 'password.new.second'|trans({}, 'userform')) }}
    {{ form_errors(form.new.second) }}
    {{ form_widget(form.new.second) }}
  </div>

{{ form_rest(form) }}