{% if display_launch_demo is not defined %}
  {% set display_launch_demo = false %}
{% endif %}
{% if display_help is not defined %}
  {% set display_help = true %}
{% endif %}

{% if app.user %}
  
  <div id="user_statusbox" class="nicebox">
    {% if app.user %}
      {% render(controller("MuzichUserBundle:Event:infoBar")) %}
    {% endif %}
  </div>

  {% if not app.user.PasswordSet and not app.request.get('open') == 'change_password' %}
    <div class="nicebox choose_password flashing">
      <a href="{{ path('my_account', {'open':'change_password'}) }}">
        {{ 'my_account.choose_password'|trans({}, 'userui') }}
      </a>
    </div>
  {% endif %}

{% else %}
  
  {% if display_help %}
    
    <div class="center">
      <a id="know_more" class="helpbox button" href="{{ path('helpbox_bootstrap', {'ressource_id':'know_more'}) }}" title="{{ 'help.know_more'|trans({}, 'navigationui') }}">
        {{ 'help.know_more'|trans({}, 'navigationui') }}
      </a>
      {% if display_launch_demo %}
        <a id="launch_tour" class="button" href="#" title="{{ 'help.maunch_tour'|trans({}, 'navigationui') }}">
          {{ 'help.launch_tour'|trans({}, 'navigationui') }}
        </a>
      {% endif %}
    </div>
  {% endif %}
  
{% endif %}

  <div id="searchbox" class="nicebox">
    {% render(controller("MuzichCoreBundle:Search:renderGlobalSearchForm")) %}
  </div>
  
  {% include 'MuzichCoreBundle:Layout:social.html.twig' %}

{% if app.user %}
  {% render(controller('MuzichCoreBundle:Core:renderSideMenu')) %}
{% endif %}
