{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ 'title.element.edit'|trans({}, 'userui') }}{% endblock %}

{% block content %}

  <span class="sinfo">{{ 'system.infos.normally_js'|trans({}, 'userui') }}</span>

  <form name="{{ form_name }}" action="{{ path('element_update', {'element_id': element_id}) }}" method="post" {{ form_enctype(form) }}>

    {% include "MuzichCoreBundle:Element:form.edit.html.twig" with { 
      'form'          : form, 
      'form_name'     : form_name
    } %}

    <input type="submit" value="{{ 'element_edit.submit.value'|trans({}, 'userui') }}" class="button" />
  </form>
  
{% endblock %}