{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}

{{ form_errors(form) }}
<input type="hidden" id="form_add_step" value="1" />

<div id="form_add_first_part">

  <span class="help">{{ 'element_add.url.help'|trans({}, 'userui') }}</span>

  <div class="field fom_add_url">
    {{ form_errors(form.url) }}
    {{ form_widget(form.url, { 'attr': {
      'placeholder': 'element_add.url.name'|trans({}, 'userui')},
      'type': 'URL'
    }) }}

    <input class="button" type="submit" value="{{ 'home.check_url'|trans({}, 'navigationui') }}" />

  </div>
    
</div>

<div id="form_add_second_part" style="display: none;">
  
  <table>
    <tr>
      <td style="vertical-align: top;">
        <div id="form_add_thumb">
          <img src="{{ asset('bundles/muzichcore/img/nothumb.png') }}" />
        </div>
      </td>
      <td style="vertical-align: top;">
        <div class="field fom_add_name">
          {{ form_errors(form.name) }}
          {{ form_widget(form.name, { 'attr': {'placeholder': 'element_add.name.name'|trans({}, 'userui')} }) }}
        </div>

          <p id="form_add_prop_tags_text" style="display: none;">
            {{ 'element_add.prop_tags.text'|trans({}, 'userui') }}
          </p>
          <ul id="form_add_prop_tags" style="display: none;"></ul>

          {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
            'form_name'     : form_name
          } %}

          {{ form_widget(form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}

        <div class="field">
          {{ form_errors(form.need_tags) }}
          {{ form_widget(form.need_tags) }}
          {{ form_label(form.need_tags, 'element_add.need_tags.name'|trans({}, 'userui')) }}
        </div>
      </td>
    </tr>
  </table>
  
  
  
  
  
    
  <input type="submit" value="Partager cette ressource" />
    
</div>

    <img id="form_add_loader" class="tag_loader" style="display: none;" 
      src="{{ asset('/bundles/muzichcore/img/ajax-loader.gif') }}" alt="loading" 
    />

{{ form_row(form._token) }}