{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}

{{ form_errors(form) }}

<div class="field">
  {{ form_errors(form.name) }}
  {{ form_label(form.name, 'name'|trans({}, 'elementform')) }}
  {{ form_widget(form.name) }}
</div>

<div class="field">
  {{ form_errors(form.url) }}
  {{ form_label(form.url, 'url'|trans({}, 'elementform')) }}
  {{ form_widget(form.url) }}
</div>

{% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 'form_name': form_name } %}

{{ form_row(form._token) }}