{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}

{{ form_errors(form) }}

<span class="help">{{ 'element_add.url.help'|trans({}, 'userui') }}</span>

<div class="field">
  {{ form_errors(form.url) }}
  {{ form_label(form.url, 'element_add.url.name'|trans({}, 'userui')) }}
  {{ form_widget(form.url) }}
</div>

<div class="field">
  {{ form_errors(form.name) }}
  {{ form_label(form.name, 'element_add.name.name'|trans({}, 'userui')) }}
  {{ form_widget(form.name) }}
</div>

  {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
    'form_name'     : form_name
  } %}

  {{ form_widget(form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}

<div class="field">
  {{ form_errors(form.need_tags) }}
  {{ form_widget(form.need_tags) }}
  {{ form_label(form.need_tags, 'element_add.need_tags.name'|trans({}, 'userui')) }}
</div>

{{ form_row(form._token) }}