{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}

{{ form_errors(form) }}

<span class="help">{{ 'element_add.url.help'|trans({}, 'userui') }}</span>

<div class="field fom_add_url">
  {{ form_errors(form.url) }}
  {{ form_widget(form.url, { 'attr': {
    'placeholder': 'element_add.url.name'|trans({}, 'userui')},
    'type': 'URL'
  }) }}
    
  <a href="#" id="form_add_check_url" class="button">
    {{ 'home.check_url'|trans({}, 'navigationui') }}
  </a>
</div>

<div class="form_add_second_part" style="display: none;">
  <div class="field fom_add_name">
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, { 'attr': {'placeholder': 'element_add.name.name'|trans({}, 'userui')} }) }}
  </div>

    {% include "MuzichCoreBundle:Tag:tagsPrompt.html.twig" with { 
      'form_name'     : form_name
    } %}

    {{ form_widget(form.tags, { 'attr': {'class': 'tagBox_tags_ids'} }) }}

  <div class="field">
    {{ form_errors(form.need_tags) }}
    {{ form_widget(form.need_tags) }}
    {{ form_label(form.need_tags, 'element_add.need_tags.name'|trans({}, 'userui')) }}
  </div>
</div>

{{ form_row(form._token) }}