{% extends "MuzichGroupBundle::layout.html.twig" %}

{% block title %}Edition du groupe {{ group.name }}{% endblock %}

{% block content %}

  <h2>Edition du groupe {{ group.name }}</h2>

  <form name="{{ form_name }}" action="{{ path('group_update', { 'slug': group.slug }) }}" method="post" {{ form_enctype(form) }}>
    
    {% include "MuzichGroupBundle:Form:form.html.twig" %}

    <input type="submit" class="button" />
  </form>

{% endblock %}