{% extends "MuzichGroupBundle::layout.html.twig" %}

{% block title %}Mes groupes{% endblock %}

{% block content %}

  {% if groups|length %}

    {{ 'havegroups.sentence'|trans({}, 'groups') }}

    <ul class="inline">
    {% for group in groups %} 
      <li>
        <a href="{{ path('show_group', { 'slug': group.slug }) }}">{{ group.name }}</a>
      </li>
    {% endfor %}
    </ul>

  {% else %}

    {{ 'nogroups.sentence'|trans({}, 'groups') }}

  {% endif %}

  <h2>Ajouter un groupe</h2>

  <form action="{{ path('group_add') }}" method="post" {{ form_enctype(form_new) }}>
    
    {% include "MuzichGroupBundle:Form:form.html.twig" with { 'form': form_new, 'form_name': form_new_name } %}

    <input type="submit" />
  </form>

{% endblock %}