
{% form_theme form 'MuzichCoreBundle:Form:errors.html.twig' %}
{{ form_errors(form) }}
{{ form_errors(form.string) }}

<div class="seachboxcontainer">
  <form action="{{ path('global_search') }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_widget(form.string) }}
    {{ form_rest(form) }}
    
    <a href="#" class="global_search_link">
      <img src="{{ asset('/img/icon_search.png') }}" alt="search" />
    </a>
  </form>
</div>