{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}{% endblock %}
{% block mainbox_classes %}{% endblock %}

{% block content %}
  
  <div class="top_tools">
    
    <a class="autoplay_playlist" href="{{ path('playlist_datas_for_autoplay', { 'playlist_id' : playlist.id }) }}" >
      Lire
    </a>
    
    {% if app.user %}
      {% if not playlist.owned(app.user) and viewed_user.id != app.user.id %}
        {% if not app.user.havePlaylistPicked(playlist) %}
          <a class="playlist_pick" href="{{ path('playlist_pick', { 'playlist_id' : playlist.id }) }}" >
            P
          </a>
        {% else %}
          <a class="playlist_unpick" href="{{ path('playlist_unpick', { 'playlist_id' : playlist.id }) }}" >
            uP
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
    
    <h2>{{ playlist.name }}</h2>
    
    {% include "MuzichCoreBundle:Tag:tag_cloud.html.twig" with {
      'tags' : playlist.tags
    } %}
    
    {% if playlist.elements|length %}
      <form action="{{ path('playlist_update_order', { 'playlist_id' : playlist.id }) }}" method="post">
        <ul class="playlist_elements">
          {% for element in playlist.elements %}
            <li class="playlist_element">
              <input type="hidden" name="elements[]"  value="{{ element.id }}" />
              <a class="autoplay_playlist" href="{{ path('playlist_datas_for_autoplay', { 'playlist_id' : playlist.id, 'offset' : loop.index0 }) }}">
                play
              </a>
              <a class="open_element" href="{{ path('element_get_one', { 'element_id' : element.id }) }}" data-id="{{ element.id }}">
                {{ element.name }}
              </a>
              <a class="remove_element" href="{{ path('playlist_remove_element', { 'playlist_id' : playlist.id, 'element_id' : element.id }) }}">
                X
              </a>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% endif %}
  
  </div>
  
{% endblock %}