{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}
{% block mainbox_classes %}{% endblock %}

{% block content %}
  
  {% if playlists|length %}
  <ul class="playlists">
    {% for playlist in playlists %}
      <li class="playlist">
        
        <a class="autoplay_playlist" href="{{ path('playlist_datas_for_autoplay', { 'playlist_id' : playlist.id }) }}" >
          Lire
        </a>
        
        <a href="{{ path('playlist', { 'user_slug' : playlist.owner.slug, 'playlist_id' : playlist.id }) }}">
          {{ playlist.name }}
        </a>
        
        {% if app.user %}
          {% if viewed_user.id == app.user.id %}
            {% if playlist.owned(app.user) %}
              <a class="playlist_delete" href="{{ path_token('playlist_delete', { 'playlist_id' : playlist.id }) }}" >
                X
              </a>
            {% else %}
              <a class="playlist_unpick" href="{{ path_token('playlist_unpick', { 'playlist_id' : playlist.id }) }}" >
                X
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
        
        {% if app.user %}
          {% if not playlist.owned(app.user) and viewed_user.id != app.user.id %}
            {% if not app.user.havePlaylistPicked(playlist) %}
              <a class="playlist_pick" href="{{ path_token('playlist_pick', { 'playlist_id' : playlist.id }) }}" >
                P
              </a>
            {% else %}
              <a class="playlist_unpick" href="{{ path_token('playlist_unpick', { 'playlist_id' : playlist.id }) }}" >
                uP
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      
        
        {% include "MuzichCoreBundle:Tag:tag_cloud.html.twig" with {
          'tags' : playlist.tags
        } %}
        
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  
{% endblock %}